<div class="container-fluid vh-100" style="background-color: var(--page-not-found-bg-color); position: relative;">
  <div class="container-sm" style="background-color: var(--page-not-found-bg-color)">
    <div class="row flex-column-reverse flex-lg-row">
      <!-- CIRCLES-->
      <div class="circles col-10 col-md-7 col-lg-6 col-xl-7 col-xxl-6 mx-auto">
        <div class="circle circle-1 me-3"><span>We Broke Something</span></div>
        <div class="circle circle-2 text-light">404 Page</div>
        <div class="circle circle-3 ms-3"><span>You Can't Type Right</span></div>
      </div>
      <!-- TITLE -->
      <div class="text-content col-10 col-md-4 col-lg-4 col-xl-4 col-xxl-6 d-flex flex-column justify-content-center">
        <h1 class="text-light">404</h1>
        <p class="text-light mb-5">Oops... seems like you got lost in space</p>
        <a routerLink="/" class="btn-home btn btn-light btn-lg mt-4">Back Home</a>
      </div>
    </div>
  </div>
</div>
