*, body, html {
  overflow: hidden !important;
}
*:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  overflow: hidden !important;
}

.nav-link {
  font-size: 2rem;
}
@media(max-width: 75em) {
  .navbar-nav {
    font-size: 1.6rem;
  }
}

