/* Placeholder Card */
/* General Placeholder Styles */
.placeholder {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  animation: pulse 1.5s infinite;
}

/* Image Placeholder */
.image-skeleton {
  position: relative;
  width: 100%;
  height: 250px; /* Adjust height as needed */
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.image-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.1) 75%);
  animation: shimmer 1.6s infinite;
}

/* Title Placeholder */
.title-placeholder {
  width: 60%;
  height: 30px;
  margin-bottom: 10px;
}

/* Rating and Price Placeholders */
.rating-placeholder {
  width: 40%;
  height: 20px;
  margin-bottom: 10px;
}

.price-placeholder {
  width: 50%;
  height: 25px;
  margin-bottom: 10px;
}

/* Animations */
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes pulse {
  0% {
    background-color: rgba(0, 0, 0, 0.1);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.2);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.1);
  }
}


/* FOR PAGINATION */
mat-paginator {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin: 20px auto 0 auto;
  max-width: 78%;
  background: var(--paginator-bg-color);
}

/* Responsive styling */
@media (max-width: 768px) {
  mat-paginator {
    font-size: 1rem;
  }
}

// animations
@keyframes placeholder-glow {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}
