<div class="d-flex flex-column pt-1">
  <!-- Image Section -->
  <img [src]=" API_IMAGE_PATH + product().image.src" [alt]="product().image.alt" class="img-fluid rounded shadow" />
  <!-- Details Section -->
  <div class="details">
    <h3 class="mb-3 text-start">{{ product().details.title }}</h3>

    <!-- Rating and price Section  -->
    <div class="price-quantity">
      <p class="rating badge text-yellow ms-n2">
        @for (star of fullStars; track $index) {
          <span class="">
            <fa-icon [icon]="faStar" size="2x"></fa-icon>
          </span>
        }
        @if (hasHalfStar) {
          <span class="">
            <fa-icon [icon]="faStarHalfAlt" size="2x"></fa-icon>
          </span>
        }
      </p>
      <span class="rating-full">{{product().rating}}/5</span>
      <h2 class="price text-success">$ {{ product().details.price }}</h2>
    </div>
  </div>
</div>


