<app-nav [isLandingPage]="false">
  <form class="search-form d-block d-sm-none d-sm-flex ms-auto ms-lg-0" role="search" >
    <input
      class="search-input form-control fs-4 ms-auto me-2 py-2 px-5 pe-3 rounded-pill"
      type="search"
      placeholder="Search for products..."
      aria-label="Search"
      style="background-color: #F0F0F0;">

    <button class="search-btn btn" type="button">
      <fa-icon [icon]="faMagnifyingGlass" class="search-icon text-muted"></fa-icon>
    </button>
  </form>
</app-nav>

<app-horizontal-separator />
<app-navigator currentPage="Store"/>

<app-store-item-container />



