:host {
  display: block;
  height: 73vh;
  background-color: #F2F0F1 !important;
}

.hero-heading {
  font-size: 5rem;
}
.hero-description {
  font-size: 2rem;
}
.shop-btn {
  font-size: 2rem;
}
.shop-features {
  font-size: 2rem;
}
@media(max-width: 75em) {
  .hero-heading {
    font-size: 4rem;
  }
  .hero-description {
    font-size: 1.6rem;
  }
  .shop-btn {
    font-size: 1.6rem;
  }
  .shop-features {
    font-size: 1.6rem;
  }
}

@media(max-width: 62em) {
  .hero-heading {
    font-size: 2.4rem;
  }
  .hero-description {
    font-size: 1.4rem;
  }
  .shop-btn {
    font-size: 1rem;
  }
  .shop-features {
    font-size: 1.1rem;
  }
}

@media (max-width: 48em) {
  .hero-heading {
    font-size: 1.8rem;
  }
  .hero-description {
    font-size: 1.2rem;
  }
}
