:host {
  display: block;
  background-color: #e7f5ff !important;
  padding-bottom: 1%;
  overflow: hidden;
}

.hero-heading {
  font-size: 5rem;
}
.hero-description {
  font-size: 2rem;
}
.shop-btn {
  font-size: 2rem;
}
.shop-features {
  font-size: 2rem;
}
.hero-img {
  max-width: 90%;
}
@media(max-width: 87.5em) {
  :host {
    padding-bottom: 8%;
  }
}
@media(max-width: 75em) {
  :host {
    padding-bottom: 20%;
  }
  .hero-heading {
    font-size: 4rem;
  }
  .hero-description {
    font-size: 1.6rem;
  }
  .shop-btn {
    font-size: 1.6rem;
  }
  .shop-features {
    font-size: 1.6rem;
  }
}

@media(max-width: 62em) {
  .container {
    margin: 0 5rem !important;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .hero-description {
    font-size: 1.8rem;
  }
  .shop-btn {
    font-size: 1.4rem;
  }
  .shop-features {
    font-size: 1.4rem;
  }
  .hero-img {
    max-width: 110%;
  }
}

@media (max-width: 48em) {
  .hero-heading {
    font-size: 1.8rem;
  }
  .hero-description {
    font-size: 1.4rem;
  }

}
@media (max-width: 36em) {
  :host {
    padding-bottom: 40%;
  }
  .container{
    margin-top: 8% !important;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
  .hero-description {
    font-size: 1.8rem;
  }
  .shop-btn {
    font-size: 1.6rem;
  }
  .shop-features {
    font-size: 1.6rem;
  }
}
